In [2]:
import pandas as pd

# load the csv file (Monthly average air temperatures of the city of Barcelona since 1780) into a pandas data frame
df_temperature = pd.read_csv('temperaturesbarcelonadesde1780.csv', encoding='utf-8')

# visualize first 5 rows
df_temperature.head()

# basic summary of the data frame
df_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Any                    241 non-null    int64
 1   Temp_Mitjana_Gener     241 non-null    float64
 2   Temp_Mitjana_Febrer    241 non-null    float64
 3   Temp_Mitjana_Marc      241 non-null    float64
 4   Temp_Mitjana_Abril     241 non-null    float64
 5   Temp_Mitjana_Maig      241 non-null    float64
 6   Temp_Mitjana_Juny      241 non-null    float64
 7   Temp_Mitjana_Juliol    241 non-null    float64
 8   Temp_Mitjana_Agost     241 non-null    float64
 9   Temp_Mitjana_Setembre  241 non-null    float64
 10  Temp_Mitjana_Octubre   241 non-null    float64
 11  Temp_Mitjana_Novembre  241 non-null    float64
 12  Temp_Mitjana_Desembre  241 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 24.6 KB

In [5]:
# load the csv file (Monthly accumulated rainfall of the city of Barcelona since 1786) into a pandas data frame
df_rainfall = pd.read_csv('precipitacionsbarcelonadesde1786.csv', encoding='utf-8')

# visualize first 5 rows
df_rainfall.head()

,Any,Precip_Acum_Gener,Precip_Acum_Febrer,Precip_Acum_Marc,Precip_Acum_Abril,Precip_Acum_Maig,Precip_Acum_Juny,Precip_Acum_Juliol,Precip_Acum_Agost,Precip_Acum_Setembre,Precip_Acum_Octubre,Precip_Acum_Novembre,Precip_Acum_Desembre
0,1786,32.8,28.4,84.4,42.3,8.5,38.0,6.8,52.1,62.0,57.0,195.8,114.1
1,1787,136.4,27.4,44.6,76.9,0.0,29.8,34.7,14.9,205.8,12.4,42.2,0.0
2,1788,9.9,14.9,32.2,12.4,7.5,146.3,59.4,29.8,123.9,163.6,106.6,22.3
3,1789,12.4,12.4,23.6,9.9,32.2,9.9,6.3,69.4,18.7,52.1,18.7,76.9
4,1790,44.6,1.2,188.5,74.4,44.7,39.7,65.7,32.3,71.9,205.8,72.0,14.9

NameError: name 'df_temperature' is not defined